* text=auto !eol
jconsole-stub/pom.xml -text
jconsole-stub/src/main/java/com/sun/tools/jconsole/JConsoleContext.java -text
jconsole-stub/src/main/java/com/sun/tools/jconsole/JConsolePlugin.java -text
mxcache-asm/pom.xml -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/AnnotationVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/AnnotationWriter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Attribute.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/ByteVector.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/ClassAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/ClassReader.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/ClassVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/ClassWriter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Edge.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/FieldVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/FieldWriter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Frame.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Handler.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Item.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Label.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/MethodAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/MethodVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/MethodWriter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Opcodes.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/Type.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/AdviceAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/AnalyzerAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/CodeSizeEvaluator.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/EmptyVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/GeneratorAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/InstructionAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/JSRInlinerAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/LocalVariablesSorter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/Method.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/Remapper.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/RemappingAnnotationAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/RemappingClassAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/RemappingFieldAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/RemappingMethodAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/RemappingSignatureAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/SerialVersionUIDAdder.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/SimpleRemapper.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/StaticInitMerger.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/commons/TableSwitchGenerator.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/signature/SignatureReader.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/signature/SignatureVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/signature/SignatureWriter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/AbstractInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/AnnotationNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/ClassNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/FieldInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/FieldNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/FrameNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/IincInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/InnerClassNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/InsnList.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/InsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/IntInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/JumpInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/LabelNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/LdcInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/LineNumberNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/LocalVariableNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/LookupSwitchInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/MemberNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/MethodInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/MethodNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/MultiANewArrayInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/TableSwitchInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/TryCatchBlockNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/TypeInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/VarInsnNode.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/Analyzer.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/AnalyzerException.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/BasicInterpreter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/BasicValue.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/BasicVerifier.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/Frame.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/Interpreter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/SimpleVerifier.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/SmallSet.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/SourceInterpreter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/SourceValue.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/Subroutine.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/tree/analysis/Value.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifiable.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifierAbstractVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifierAnnotationVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifierClassVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifierFieldVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/ASMifierMethodVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/AbstractVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/CheckAnnotationAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/CheckClassAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/CheckFieldAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/CheckMethodAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/CheckSignatureAdapter.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceAbstractVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceAnnotationVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceClassVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceFieldVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceMethodVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/TraceSignatureVisitor.java -text
mxcache-asm/src/main/java/com/maxifier/mxcache/asm/util/Traceable.java -text
mxcache-commons/mxcache-commons.iml -text
mxcache-commons/pom.xml -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxAbstractProxy.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxAbstractProxyFactory.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxGenericProxy.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxGenericProxyFactory.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxProxy.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxProxyFactory.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/MxProxyGenerator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/proxy/Resolvable.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/ComplexSizeCalculator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/ComplexSizeCalculatorBuilder.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/EmptySize.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/ObjectSizeHelper.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/Sizable.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/SizeCalculator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/SizeIterator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/size/SizeTransient.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/tuple/Tuple.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/tuple/TupleFactory.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/tuple/TupleGenerator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/ClassGenerator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/CodegenHelper.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/FormatHelper.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/Generator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/HashSoftReference.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/HashWeakReference.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/MultiLock.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/MxConstructorGenerator.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/MxField.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/MxGeneratorAdapter.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/NameFindVisitor.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/SmartClassWriter.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/THashMapBuilder.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/TIdentityHashMap.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/TIdentityHashSet.java -text
mxcache-commons/src/main/java/com/maxifier/mxcache/util/TupleInitializerGenerator.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/proxy/MxGenericProxyGeneratorUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/proxy/MxProxyGeneratorUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/size/ObjectSizeHelperUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/tuple/TupleGeneratorUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/ClassGeneratorUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/CodegenHelperUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/FormatHelperUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/HashWeakReferenceUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/MultiLockUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/THashMapBuilderUTest.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/TestClass.java -text
mxcache-commons/src/test/java/com/maxifier/mxcache/util/TestClassImpl.java -text
mxcache-ds10-integration/pom.xml -text
mxcache-ds10-integration/src/main/java/com/maxifier/mxcache/legacy/converters/MxConvertFromByteArray10.java -text
mxcache-ds10-integration/src/main/java/com/maxifier/mxcache/legacy/converters/MxConvertFromResource10.java -text
mxcache-ds10-integration/src/main/java/com/maxifier/mxcache/legacy/converters/MxConvertToByteArray10.java -text
mxcache-ds10-integration/src/main/java/com/maxifier/mxcache/legacy/converters/MxConvertToResource10.java -text
mxcache-ds10-integration/src/main/java/com/maxifier/mxcache/legacy/layered/MxLayeredCacheSerializator10Impl.java -text
