package com.maxifier.mxcache.impl.caches.storage.generic;

import com.maxifier.mxcache.caches.*;
import com.maxifier.mxcache.storage.*;
import com.maxifier.mxcache.resource.MxResource;
import com.maxifier.mxcache.impl.MutableStatisticsImpl;
import com.maxifier.mxcache.impl.resource.DependencyTracker;
import com.maxifier.mxcache.impl.resource.ResourceOccupied;
import org.testng.annotations.Test;

import com.maxifier.mxcache.provider.Signature;
import com.maxifier.mxcache.impl.caches.storage.Wrapping;

import static org.mockito.Mockito.*;

/**
 * Project: Maxifier
 * Created by: Yakoushin Andrey
 * Date: 15.02.2010
 * Time: 13:40:10
 * <p/>
 * Copyright (c) 1999-2009 Magenta Corporation Ltd. All Rights Reserved.
 * Magenta Technology proprietary and confidential.
 * Use is subject to license terms.
 *
 * @author ELectronic ENgine
 */
@Test
public class #E##F#CacheBoxKeyTest {
    private static final #E##F#Calculatable CALCULATABLE = new #E##F#Calculatable() {
        @Override
        public #f# calculate(Object owner, #e# o) {
            assert o == #ETEST#;
            return #FTEST#;
        }
    };

    public void testMiss() {
        Object#F#Storage storage = mock(Object#F#Storage.class);

        when(storage.isCalculated(#ETEST#)).thenReturn(false);
        when(storage.size()).thenReturn(0);

        #E##F#Cache cache = (#E##F#Cache) Wrapping.getFactory(new Signature(Object.class, #f#.class), new Signature(#e#.class, #f#.class), false).
                wrap("123", CALCULATABLE, storage, new MutableStatisticsImpl());
        cache.setDependencyNode(DependencyTracker.DUMMY_NODE);

        assert cache.getSize() == 0;
        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 0;

        assert cache.getOrCreate(#ETEST#) == #FTEST#;

        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 1;

        verify(storage).size();
        verify(storage, atLeast(1)).isCalculated(#ETEST#);
        verify(storage).save(#ETEST#, #FTEST#);
        verifyNoMoreInteractions(storage);
    }

    public void testHit() {
        Object#F#Storage storage = mock(Object#F#Storage.class);

        #E##F#Cache cache = (#E##F#Cache) Wrapping.getFactory(new Signature(Object.class, #f#.class), new Signature(#e#.class, #f#.class), false).
                wrap("123", CALCULATABLE, storage, new MutableStatisticsImpl());
        cache.setDependencyNode(DependencyTracker.DUMMY_NODE);

        when(storage.isCalculated(#ETEST#)).thenReturn(true);
        when(storage.load(#ETEST#)).thenReturn(#FTEST#);
        when(storage.size()).thenReturn(1);

        assert cache.getSize() == 1;
        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 0;

        assert cache.getOrCreate(#ETEST#) == #FTEST#;

        assert cache.getStatistics().getHits() == 1;
        assert cache.getStatistics().getMisses() == 0;

        verify(storage).size();
        verify(storage, atLeast(1)).isCalculated(#ETEST#);
        verify(storage).load(#ETEST#);
        verifyNoMoreInteractions(storage);
    }

    public void testClear() {
        Object#F#Storage storage = mock(Object#F#Storage.class);

        #E##F#Cache cache = (#E##F#Cache) Wrapping.getFactory(new Signature(Object.class, #f#.class), new Signature(#e#.class, #f#.class), false).
                wrap("123", CALCULATABLE, storage, new MutableStatisticsImpl());
        cache.setDependencyNode(DependencyTracker.DUMMY_NODE);

        cache.clear();

        verify(storage).clear();
        verifyNoMoreInteractions(storage);
    }

    public void testSetDuringDependencyNodeOperations() {
        Object#F#Storage storage = mock(Object#F#Storage.class);

        when(storage.isCalculated(#ETEST#)).thenReturn(false, true);
        when(storage.load(#ETEST#)).thenReturn(#FTEST#);

        #E##F#Calculatable calculatable = mock(#E##F#Calculatable.class);
        MxResource r = mock(MxResource.class);
        when(calculatable.calculate("123", #ETEST#)).thenThrow(new ResourceOccupied(r));

        #E##F#Cache cache = (#E##F#Cache) Wrapping.getFactory(new Signature(Object.class, #f#.class), new Signature(#e#.class, #f#.class), false).
                wrap("123", calculatable, storage, new MutableStatisticsImpl());
        cache.setDependencyNode(DependencyTracker.DUMMY_NODE);

        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 0;

        assert cache.getOrCreate(#ETEST#) == #FTEST#;

        assert cache.getStatistics().getHits() == 1;
        assert cache.getStatistics().getMisses() == 0;

        verify(storage, times(2)).isCalculated(#ETEST#);
        verify(storage).load(#ETEST#);
        verifyNoMoreInteractions(storage);
        verify(calculatable).calculate("123", #ETEST#);
        verifyNoMoreInteractions(calculatable);
    }

    public void testResetStat() {
        Object#F#Storage storage = mock(Object#F#Storage.class);

        when(storage.isCalculated(#ETEST#)).thenReturn(false);

        #E##F#Cache cache = (#E##F#Cache) Wrapping.getFactory(new Signature(Object.class, #f#.class), new Signature(#e#.class, #f#.class), false).
                wrap("123", CALCULATABLE, storage, new MutableStatisticsImpl());
        cache.setDependencyNode(DependencyTracker.DUMMY_NODE);

        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 0;

        assert cache.getOrCreate(#ETEST#) == #FTEST#;

        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 1;

        cache.getStatistics().reset();

        assert cache.getStatistics().getHits() == 0;
        assert cache.getStatistics().getMisses() == 0;

        verify(storage, atLeast(1)).isCalculated(#ETEST#);
        verify(storage).save(#ETEST#, #FTEST#);
        verifyNoMoreInteractions(storage);
    }
}
